<script>
  export let heartbeat
  export let isFullScreen

  import { createEventDispatcher } from 'svelte';
  import SceneSwitcher from './SceneSwitcher.svelte';
  import ModeSwitcher from './ModeSwitcher.svelte';
  import DashboardNav from './DashboardNav.svelte';
  import Scene from './Scene.svelte';

  const dispatch = createEventDispatcher();

  const disconnect = () => dispatch('disconnect');
  const toggleFullScreen = () => dispatch('toggleFullScreen')

  let programSceneName
</script>

<DashboardNav
  heartbeat={heartbeat}
  isFullScreen={isFullScreen}
  on:disconnect={disconnect}
  on:toggleFullScreen={toggleFullScreen}
/>
<section class="section">
  <SceneSwitcher
    bind:programSceneName={programSceneName}
  />
  <div class="columns">
    <div class="column is-two-thirds"><ModeSwitcher/></div>
    <div class="column">
      <Scene
        name={programSceneName}
        programSceneName={programSceneName}
      />
    </div>
  </div>
</section>