<script>
  export let heartbeat
  export let isFullScreen

  import { createEventDispatcher } from 'svelte';
  import {
    mdiFullscreen,
    mdiFullscreenExit,
    mdiAccessPoint,
    mdiAccessPointOff,
    mdiRecord,
    mdiStop,
    mdiPause,
    mdiPlayPause,
    mdiConnection,
  } from '@mdi/js'
  import Icon from 'mdi-svelte'
  import { sendCommand } from './obs.js'

  const startStream = async () => await sendCommand('StartStream');
  const stopStream = async () => await sendCommand('StopStream');
  const startRecording = async () => await sendCommand('StartRecord');
  const pauseRecording = async () => await sendCommand('PauseRecord');
  const resumeRecording = async () => await sendCommand('ResumeRecord');
  const stopRecording = async () => await sendCommand('StopRecord');

  const dispatch = createEventDispatcher()
  const disconnect = () => dispatch('disconnect');
  const toggleFullScreen = () => dispatch('toggleFullScreen')

  function formatTime (secs) {
    secs = Math.round(secs / 1000)
    const hours = Math.floor(secs / 3600)
    secs -= hours * 3600
    const mins = Math.floor(secs / 60)
    secs -= mins * 60
    return hours > 0
      ? `${hours}:${mins < 10 ? '0' : ''}${mins}:${secs < 10 ? '0' : ''}${secs}`
      : `${mins < 10 ? '0' : ''}${mins}:${secs < 10 ? '0' : ''}${secs}`
  }
</script>

<nav class="navbar is-primary" aria-label="main navigation">
  <div id="navmenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- svelte-ignore a11y-missing-attribute -->
          <button class="button is-info is-light" disabled>
            {#if heartbeat && heartbeat.stats}
              {Math.round(heartbeat.stats.activeFps)} fps,
              {Math.round(heartbeat.stats.cpuUsage)}% CPU,
              {heartbeat.stats.renderSkippedFrames} skipped frames
            {:else}
              Connected
            {/if}
          </button>

          {#if heartbeat && heartbeat.streaming && heartbeat.streaming.outputActive}
            <button
              class="button is-danger"
              on:click={stopStream}
              title="Stop Stream"
            >
              <span class="icon"><Icon path={mdiAccessPointOff} /></span>
              <span>{formatTime(heartbeat.streaming.outputDuration)}</span>
            </button>
          {:else}
            <button
              class="button is-danger is-light"
              on:click={startStream}
              title="Start Stream"
            >
              <span class="icon"><Icon path={mdiAccessPoint} /></span>
            </button>
          {/if}

          {#if heartbeat && heartbeat.recording && heartbeat.recording.outputActive}
            
            {#if heartbeat.recording.outputPaused}
              <button
                class="button is-danger"
                on:click={resumeRecording}
                title="Resume Recording"
              >
                <span class="icon"><Icon path={mdiPlayPause} /></span>
              </button>
            {:else}
              <button
                class="button is-success"
                on:click={pauseRecording}
                title="Pause Recording"
              >
                <span class="icon"><Icon path={mdiPause} /></span>
              </button>
            {/if}

            <button
              class="button is-danger"
              on:click={stopRecording}
              title="Stop Recording"
            >
              <span class="icon"><Icon path={mdiStop} /></span>
              <span>{formatTime(heartbeat.recording.outputDuration)}</span>
            </button>

          {:else}
            <button
              class="button is-danger is-light"
              on:click={startRecording}
              title="Start Recording"
            >
              <span class="icon"><Icon path={mdiRecord} /></span>
            </button>
          {/if}

          <button
            class="button is-danger is-light"
            on:click={disconnect}
            title="Disconnect"
          >
            <span class="icon"><Icon path={mdiConnection} /></span>
          </button>

          <button
            class:is-light={!isFullScreen}
            class="button is-link"
            on:click={toggleFullScreen}
            title="Toggle Fullscreen"
          >
            <span class="icon">
              <Icon path={isFullScreen ? mdiFullscreenExit : mdiFullscreen} />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
