<script>
  export let address
  export let password
  export let isFullScreen
  export let errorMessage
  export let OBS_WEBSOCKET_LATEST_VERSION

  import { createEventDispatcher } from 'svelte'
  import {
    mdiFullscreen,
    mdiFullscreenExit,
  } from '@mdi/js'
  import Icon from 'mdi-svelte'
  
  const dispatch = createEventDispatcher()
  const connect = () => dispatch('connect');
  const toggleFullScreen = () => dispatch('toggleFullScreen');
</script>

<nav class="navbar is-primary" aria-label="main navigation">
  <div id="navmenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-danger" disabled>
            {errorMessage || 'Disconnected'}
          </button>
          <button
            class:is-light={!isFullScreen}
            class="button is-link"
            on:click={toggleFullScreen}
            title="Toggle Fullscreen"
          >
            <span class="icon">
              <Icon path={isFullScreen ? mdiFullscreenExit : mdiFullscreen} />
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="section">
  <h1 class="subtitle">
    Welcome to OBS-web
  </h1>

  {#if document.location.protocol === 'https:'}
    <div class="notification is-danger">
      You are checking this page on a secure HTTPS connection. That's great,
      but it means you can
      <strong>only</strong>
      connect to WSS (secure websocket) addresses, for example OBS exposed with
      <a href="https://ngrok.com/">ngrok</a>
      or
      <a href="https://pagekite.net/">pagekite</a>
      . If you want to connect to a local OBS instance,
      <strong>
        <a
          href="http://{document.location.hostname}{document.location.port
            ? ':' + document.location.port
            : ''}{document.location.pathname}"
        >
          please click here to load the non-secure version of this page
        </a>
      </strong>
      .
    </div>
  {/if}
  
  <form on:submit|preventDefault={connect}>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input
          id="host"
          bind:value={address}
          class="input"
          type="text"
          autocomplete=""
          placeholder="ws://192.168.199.25:4444"
        />
        <input
          id="password"
          bind:value={password}
          class="input"
          type="password"
          autocomplete="current-password"
          placeholder="password (leave empty if you have disabled authentication)"
        />
      </p>
      <p class="control">
        <button class="button is-success">Connect</button>
      </p>
    </div>
  </form>
  <p class="help">
    Make sure that you use <a
      href="https://github.com/obsproject/obs-studio/releases">OBS v28+</a
    >
    or install the
    <a
      href="https://github.com/obsproject/obs-websocket/releases/tag/{OBS_WEBSOCKET_LATEST_VERSION}"
      target="_blank"
      rel="noreferrer"
      >obs-websocket {OBS_WEBSOCKET_LATEST_VERSION} plugin</a
    >
    for v27. If you use an older version of OBS, see the
    <a href="/v4/">archived OBS-web v4</a> page.
  </p>
</div>