<script>
  export let instance
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  const onClick = () => dispatch('transitionShort');
</script>

<div class="box button is-large is-info"  on:click={onClick}>{instance.friendlyName}</div>

<style>
  .box {
    margin-right: 1em;
  }
</style>