<script>
  import Mode from "./Mode.svelte";
  import ModeItem from "./ModeItem.js"

  const modes = [
    ModeItem("Normal", "full", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    }),
    ModeItem("Abspann", "abspann", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    }),
    ModeItem("Präse", "praese", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    }),
    ModeItem("Präse (inv)", "praese_inverted", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    }),
    ModeItem("Remote Call", "remote_call", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    }),
    ModeItem("Remote Call (inv)", "remote_call_inverted", async () => {
      await sendCommand('', {})
      //await sendCommand('', {})
    })
  ];

  const onModeClick = (mode) => mode.exec();
</script>

<div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
  {#each modes as mode}
    <Mode instance={mode} on:modeClick={onModeClick(mode)} />
  {/each}
</div>