<script>
  import { onMount } from 'svelte'
  import { obs, sendCommand } from './obs.js'
  import Scene from './Scene.svelte'

  export let shortTransitionDuration = 500
  export let longTransitionDuration = 3000

  export let programSceneName
  export let scenes = []

  onMount(async function () {
    let data = await sendCommand('GetSceneList')
    console.log('GetSceneList', data)

    scenes = data.scenes.reverse()
    programSceneName = data.currentProgramSceneName || ''
  })

  obs.on('CurrentProgramSceneChanged', (data) => {
    console.log('CurrentProgramSceneChanged', data)
    programSceneName = data.sceneName || ''
  })
  
  function onTransitionShort(scene) {
    return async () => {
      await sendCommand('SetCurrentSceneTransitionDuration', { transitionDuration: shortTransitionDuration })
      await sendCommand('SetCurrentProgramScene', { sceneName: scene.sceneName })
    }
  }

  function onTransitionLong(scene) {
    return async () => {
      await sendCommand('SetCurrentSceneTransitionDuration', { transitionDuration: longTransitionDuration })
      await sendCommand('SetCurrentProgramScene', { sceneName: scene.sceneName })
    }
  }
</script>


<div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
  {#each scenes as scene}
  <Scene
    name={scene.sceneName}
    programSceneName={programSceneName}
    shortTransitionDuration={shortTransitionDuration}
    longTransitionDuration={longTransitionDuration}
    on:transitionShort={onTransitionShort(scene)}
    on:transitionLong={onTransitionLong(scene)}
  />
  {/each}
</div>

<style>
</style>
