<script>
  export let name
  export let programSceneName
  export let shortTransitionDuration = undefined
  export let longTransitionDuration = undefined

  import { onMount, onDestroy, createEventDispatcher } from 'svelte'
  import Icon from 'mdi-svelte'
  import { mdiMinusCircle, mdiPlusCircle } from '@mdi/js'

  const dispatch = createEventDispatcher()
  const transitionShort = () => dispatch('transitionShort');
  const transitionLong = () => dispatch('transitionLong');
  const imgWidth = 320
  const imgHeight = 180

  let screenshotInterval
  let img = ''

  onMount(async () => {
    screenshotInterval = setInterval(getScreenshot, 1000)
  })

  onDestroy(() => {
    clearInterval(screenshotInterval)
  })

  async function getScreenshot () {
    let data = await sendCommand('GetSourceScreenshot', {
      sourceName: name,
      imageFormat: 'jpg',
      imageWidth: imgWidth,
      imageHeight: imgHeight
    })
    if (data && data.imageData) {
      img = data.imageData
    }
  }
</script>

<div
  class="box mb-6 overlay-anchor"
  class:has-background-danger-light={programSceneName === name}
  title={name}
>

  <img src={img} alt={name} class="image"/>
  
  <div
    class="is-flex"
    class:is-invisible={!(shortTransitionDuration && longTransitionDuration)}
  >
    <div class="column icon-text is-justify-content-center">
      <span class="icon has-text-danger"><Icon path={mdiMinusCircle} /></span>
      <span>Short {shortTransitionDuration / 1000}s</span>
    </div>
    <div class="column icon-text is-justify-content-center">
      <span class="icon has-text-danger"><Icon path={mdiPlusCircle} /></span>
      <span>Long {longTransitionDuration / 1000}s</span>
    </div>
  </div>

  <div
    class="overlay columns"
    class:is-invisible={!(shortTransitionDuration && longTransitionDuration)}
  >
    <button
      class="column"
      on:click={transitionShort}
    ></button>
    <button
      class="column"
      on:click={transitionLong}
    ></button>
  </div>
</div>

<style>
  .overlay-anchor {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .overlay .column {
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
  }
</style>